# --- ARCHIVO DE EJEMPLO DE VARIABLES DE ENTORNO ---
# Copia este archivo como '.env' y rellena las variables con tus propios valores.

# Base de datos Postgres (Local o Neon)
DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/nombre_db?schema=public"

# NextAuth Config
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="tu-clave-secreta-de-nextauth-de-al-menos-32-caracteres"

# Resend (Servicio de correos electrónico)
RESEND_API_KEY="re_tuApiKeyDeResend"
EMAIL_FROM="Cero a Cero <onboarding@resend.dev>"

# football-data.org (Suministrador de datos deportivos)
FOOTBALL_DATA_API_TOKEN="tu_token_de_football_data_org"
FOOTBALL_DATA_SEASON="2026"

# Cron de sincronización (Cabecera secreta de verificación)
CRON_SECRET="generar_un_hash_largo_y_seguro"

# Datos para crear el usuario Super Administrador inicial (se crea al sembrar/seed)
ADMIN_EMAIL="admin@ejemplo.com"
ADMIN_PASSWORD="contraseñasegura"
ADMIN_NICK="Admin"
